<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/user/register" method="post">
      <input type="hidden" name="csrfToken" value="<%= csrfToken %>" />
      <input type="text" name="fullName" placeholder="fullname" /> <br />
      <input type="email" name="email" placeholder="email" /><br />
      <input type="password" name="password" placeholder="password" /><br />
      <input type="submit" />
    </form>
    <a href="/user/login">login</a>
  </body>
</html>
